:root {
    --width-border-sm: 0.0625rem;
    --width-border-md: 0.125rem;
    --width-border-lg: 0.25rem;
    --width-border-xl: 0.5rem;
    --color-text-fixed: #15171e;
    --color-text-inverse-fixed: #fff;
    --color-background-fixed: #fff;
    --color-background-inverse-fixed: #505462;
    --color-background-inverse-fixed-muted: #2b2f3b;
    --color-mode: "light";
    --moz-font-smoothing: auto;
    --webkit-font-smoothing: subpixel-antialiased;
    --color-background: #fff;
    --color-background-muted: #e1e1e1;
    --color-background-subtle: #f5f7f8;
    --color-background-inverse: #505462;
    --color-background-inverse-muted: #2b2f3b;
    --color-background-alternate: #fff;
    --color-background-primary: #225933;
    --color-background-primary-muted: #d3e3b0;
    --color-background-primary-strong: #225933;
    --color-background-secondary: #f7fcee;
    --color-background-secondary-muted: #d3e3b0;
    --color-background-tertiary: #84bd00;
    --color-background-tertiary-muted: #f7fcee;
    --color-text-on-tertiary: #363636;
    --color-background-blue: #acd8eb;
    --color-background-blue-muted: #eaf4f8;
    --color-text-on-blue: #363636;
    --color-background-red: #d7b8bf;
    --color-background-red-muted: #ead7db;
    --color-text-on-red: #363636;
    --color-text: #363636;
    --color-text-muted: #a3a3a3;
    --color-text-subtle: #e1e1e1;
    --color-text-inverse: #fff;
    --color-text-primary: #225933;
    --color-text-on-primary: #fff;
    --color-text-secondary: #84bd00;
    --color-text-on-secondary: #225933;
    --color-text-tertiary: #e00000;
    --color-text-on-tertiary: #fff;
    --color-text-danger: #e00000;
    --color-text-info: #acd8eb;
    --color-text-success: #4fcf64;
    --color-text-warning: #fbc318;
    --color-text-on-danger: #e00000;
    --color-text-on-info: #acd8eb;
    --color-text-on-success: #4fcf64;
    --color-text-on-warning: #fbc318;
    --color-link: #225933;
    --color-link-visited: #225933;
    --color-link-hover: #84bd00;
    --color-link-active: #84bd00;
    --color-link-focus: #84bd00;
    --color-link-on-primary: #fff;
    --color-link-on-primary-visited: #fff;
    --color-link-on-primary-hover: #fff;
    --color-link-on-primary-active: #fff;
    --color-link-on-primary-focus: #fff;
    --color-link-alternate: #84bd00;
    --color-link-alternate-visited: #84bd00;
    --color-link-alternate-hover: #225933;
    --color-link-alternate-active: #225933;
    --color-link-alternate-focus: #225933;
    --color-link-navigation: #225933;
    --color-link-navigation-visited: #225933;
    --color-link-navigation-hover: #84bd00;
    --color-link-navigation-active: #84bd00;
    --color-link-navigation-focus: #84bd00;
    --color-border: #d3e3b0;
    --color-border-muted: #d3e3b0;
    --color-border-subtle: #f7fcee;
    --color-border-inverse: #fff;
    --color-border-primary: #225933;
    --color-border-on-primary: #fff;
    --color-border-primary-muted: #abacc2;
    --color-border-primary-inverse: #e0eaf4;
    --color-border-secondary: #84bd00;
    --color-border-secondary-muted: #d3e3b0;
    --color-border-secondary-inverse: #fff;
    --color-border-error: #e00000;
    --color-border-contrast-only: #0000;
    --color-input-border: #d3e3b0;
    --width-border-s: 1px;
    --width-border-m: 2px;
    --width-border-l: 4px;
    --width-border-xl: 8px;
    --color-credits-text: #15171e;
    --color-credits-background: #ffffff40;
    --color-credits-background-hover: #ffffffbf;
    --backdrop-color: #225933e6;
    --backdrop-color-alternate: #f7fceee6;
    --backdrop-filter: blur(4px);
    --icon-filter: null;
    --background-filter: null;
    --box-shadow-sm: 0 0.125rem 0.5rem #0000000d;
    --box-shadow-md: 0 0 0.625rem 0 #0000004d;
    --box-shadow-bottom-md: 0 0.125rem 0.325rem rgba(0,0,0,.125);
    --box-shadow-lg: 0 20px 20px rgba(0,0,0,.125);
    --font-weight-thin: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-black: 700;
}

.navbar {
    background-color: var(--color-background-secondary-muted);
}

#batch_table button.export {
    display: none;
}

#batch_table div.previous-next-container {
    display: none;
}

.btn-primary {
    background-color: var(--color-background-primary-strong);
    border-color: var(--color-background-primary-strong);
}

.btn-primary:hover {
    background-color: var(--color-background-primary-muted);
    border-color: var(--color-background-primary-muted);
}

.page-link {
    color: var(--color-background-primary-strong);
}

.page-link:hover {
    color: var(--color-background-primary-muted);
}

.page-item.active .page-link{
    background-color: var(--color-background-primary-strong);
    border-color: var(--color-background-primary-strong);
}