[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-plotly-dash = "*"
influxdb-client = {extras = ["extra"], version = "*"}
django-bootstrap5 = "*"
dpd-static-support = "*"
whitenoise = "*"
dash-bootstrap-components = "*"
asyncua = "*"
django-htmx = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.1"
