{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h5 class="title">Live Daten
                {% if batch and running %}
                    für Batch: {{ batch.batch_id }},
                    gestartet: {{ batch.start }},
                    {% if batch.end %}wird beendet: {{ batch.end }}{% endif %}
                {% elif batch %}
                    | Nächster Batch {{ batch.batch_id }}
                    wird gestartet am {{ batch.start }}
                    {% if batch.end %}und beendet am {{ batch.end }}{% endif %}
                {% endif %}</h5>
        </div>
        <div class="card-body" id="body">
            <div class="d-flex flex-wrap-reverse">
                <div class="p-3">
                    <img style="max-width: 100%; height: auto; @media (max-width: 500px)"
                        src="{% static 'buerkert_app/img/buerkert_funktionsschema.jpg' %}" alt="Funktionsschema">
                    <form method="post" class="pt-3" enctype="multipart/form-data">{% csrf_token %}
                          <a data-bs-toggle="collapse" href="#collapseFileForm" role="button" aria-expanded="false"
                             aria-controls="collapseFileForm">{{ form.file.label }}</a>
                          <div class="collapse" id="collapseFileForm">
                              <div class="card card-body">
                                <div class="d-flex align-items-start flex-wrap pt-3">
                                    {% bootstrap_field form.file show_label=False%}
                                    <div class="px-2">{% bootstrap_button "Hochladen" type="submit"%}</div>
                                </div>
                              </div>
                          </div>

                    </form>
                </div>
                <div>
                  <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Sensor</th>
                      <th scope="col">Einheit</th>
                      <th scope="col">Aktueller Wert</th>
                    </tr>
                  </thead>
                  <tbody hx-get="{% url 'live' %}" hx-trigger="load, every 2s"></tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}