{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
{% url 'opcua' as opc_url %}
<!DOCTYPE html>
<html lang="de">
<head>
    <script src="{% static 'buerkert_app/vendor/jQuery/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'buerkert_app/vendor/bootstrap-5.2.3/js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" type="text/css"
          href="{% static 'buerkert_app/vendor/bootstrap-5.2.3/css/bootstrap.min.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'buerkert_app/css/main.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'buerkert_app/img/hswt-logo.ico' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>OPCUA Daten</title>
</head>
<body>
{% block navbar %}
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <div class="d-flex justify-content-start">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{% static 'buerkert_app/img/hswt-logo.png' %}" alt="HSWT" height="45">
                    <div class="vr"></div>
                    <img src="{% static 'buerkert_app/img/buerkert-logo.svg' %}" height="30" alt="buerkert">
                </a>
                <div class="vr mx-1"></div>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link mx-1 px-3 {% if opc_url in request.path %} active {% endif %}"
                           href="{% url 'opcua' %}">OPC UA</a>
                    </li>

                </ul>
                <form class="d-flex mb-0" role="search" action="{% url 'index' %}" style="">
                    <input class="form-control me-2" type="search" placeholder="Batch-ID" aria-label="Batch-ID"
                           name="batch_id">
                    <button class="btn btn-outline-success" type="submit">Suchen</button>
                </form>
            </div>
        </div>
    </nav>
{% endblock %}
<div class="p-4"></div>
<div class="px-1 pt-4 mt-1 center" style="max-width: 1900px; margin:10px auto;">
    {% bootstrap_messages %}

    {% block content %}
        <div class="card">
            <div class="card-header">
                <h5 class="title">OPCUA Nodes von OPCUA Server gesendet</h5>
            </div>
            <div class="card-body" id="body">
                <div class="d-flex flex-wrap-reverse">
                    <div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">node_name</th>
                                <th scope="col">namespace_index</th>
                                <th scope="col">identifier</th>
                                <th scope="col">variable_name</th>
                                <th scope="col">value</th>
                            </tr>
                            </thead>
                            <tbody hx-get="{% url 'opcua' %}" hx-trigger="load, every 2s"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</div>

</body>
</html>
