{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h5 class="title">Aufzeichnung starten</h5>
        </div>
        <div class="card-body" id="body">
            <form method="post">{% csrf_token %}
                {% if batch_id %}
                    <div class="mb-3">
                        <label class="form-label" >Aktiver Batch: {{ batch.batch_id }}, gestartet am: {{ batch.start }}</label>
                        <a type="button" class="btn btn-danger" href="{% url 'start' %}?telegraf=stop">Stop</a>
                    </div>
                {% else %}
                    {% bootstrap_form form %}
                    {% bootstrap_button "Start" %}
                {% endif %}
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample">
                    SPS Einstellungen
                </button>

                <div class="collapse" id="collapseExample">
                  <div class="card card-body">
                    {{ formset.management_form }}
                    {% for form in formset %}
                        {% bootstrap_form form %}
                    {% endfor %}
                  <button class="btn btn-primary" formaction="{% url 'start' %}?settings=save">Save</button>
                  </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

