{% extends 'base.html' %}
{% load django_bootstrap5 %}


{% block content %}
    <div class="card">
        <div class="card-header">
            <h5 class="title">Aufzeichnung starten</h5>
        </div>
        <div class="card-body" id="body">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="p-2 pt-3 flex-grow-1">
                <form method="post">
                {% if batch and running %}
                    <div class="mb-3">
                        <label class="form-label" >
                            Aktiver Batch: {{ batch.batch_id }},
                            gestartet: {{ batch.start }},
                            {% if batch.end %} wird beendet: {{ batch.end }}{% endif %}</label>
                        <br>
                        <a type="button" class="btn btn-danger" href="{% url 'start' %}?stop=True">Stop</a>
                    </div>
                {% elif batch %}
                    <div class="mb-3">
                        <label class="form-label" >
                            N#chster Batch: {{ batch.batch_id }},
                            wird gestartet: {{ batch.start }},
                            {% if batch.end %} wird beendet: {{ batch.end }}{% endif %}</label>
                        <br>
                        <a type="button" class="btn btn-danger" href="{% url 'start' %}?stop=True">Stop</a>
                    </div>
                {% else %}
                    <div class="mb-3" style="max-width: 30%; min-width: 330px; height: auto;">
                        {{ form.media }}
                        {% bootstrap_form form %}
                        {% bootstrap_button "Start" %}
                    </div>
                {% endif %}
                {% csrf_token %}
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample">
                    SPS Einstellungen
                </button>

                <div class="collapse pt-2" id="collapseExample">
                  <div class="card card-body">
                    {{ formset.management_form }}
                    {% for form in formset %}
                      <div class="container border-bottom">
                          <div class="row">
                            <div class="py-2">{% bootstrap_field form.use wrapper_class="form-switch"%}</div>
                          </div>
                          <div class="row row-cols-auto px-3">
                              <div class="col d-flex flex-wrap">
                                  <div class="px-2">{% bootstrap_field form.sps_port %}</div>
                                  <div class="px-2">{% bootstrap_field form.display %}</div>
                                  <div class="px-2">{% bootstrap_field form.unit %}</div>
                              </div>
                          </div>
                      </div>
                    {% endfor %}
                  <button class="btn btn-primary pt-1" formaction="{% url 'start' %}?settings=save">Speichern</button>
                  </div>
                </div>
            </form>
            </div>
            <div class="p-2">
                <div class="card">
                    <div class="card-header">
                        <b>Vergangene Durchläufe:</b>
                    </div>
                    <div class="card-body">
                        <div class="list-group">
                            {% for batch in recent_batches %}
                                <a class="list-group-item list-group-item-action"
                                    href="{% url 'batch' batch.batch_id %}">
                                    {{ batch.batch_id }}, {{ batch.time }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
          </div>
        </div>

        </div>
    </div>

{% endblock %}

